.button{
    margin: 0px 8px;
    padding: 15px 27px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #00bcd4;
    font-size: 20px;
}


.imagesAll{
    float: left;
    position: relative;
    -webkit-animation: FromUp 1s;
    animation: FromUp 1s;
    padding: 2% 0%;
    width: 21%;
    margin: 0 2%;
}

.imageWrapper {
      overflow: auto;
      width: 82%;
      margin: 4% auto
}


@keyframes FromUp {
    from {top: -400px; opacity:0;}
    to {top: 0; opacity:1}
}



.fadedImages {
      overflow: auto;
    margin: 4% auto;
        width: 100%;
    
    background: #c1c1c1;
}

.filterButtons{
text-align: center;
}
    